*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;

}

.password-container{
    padding: 20px;
    background-color: rgb(220, 227, 253);
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    text-align: center;

}

input{
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: transparent;
    outline: none;
    font-size: 15px;
}
i{
    padding-right: 10px;
    font-size: 25px;
    transition: .2s;
}

i:hover{
    color: red;
    transform:rotate(5deg) ;
}
.btn{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    transition: .2s;
    border: none;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
}
.btn:hover{
    background-color:  rgb(142, 159, 220);
    outline: none;
}
.input-container{
    border: 2px solid black;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}