*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #242833;

}

.container{
    background-color: aqua;
    padding: 10px 20px;
    
    text-align: center;
    border-radius: 7px;
    background-color: #242833;
    border: 1px solid white;
    color: white;

}

.temp{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;

}

input{
    padding: 10px ;
    border-radius: 7px;
    border: none;
    outline: none;
    margin-left: 50px;
}
