body{
    margin: 0;
    background-color: #666370;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: rgb(84, 94, 117,.9);
    border-radius: 7px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0,0,0,.4);
    margin: 5px;
}

.heading{
    font-size: 30px;
}
.input{
    padding: 10px 20px;
    font-size: 18px;
    background: rgba(255,255,255,.3);
    border-color: rgba(248, 247, 247, 0.5);
    margin: 10px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}
.btn{
    padding: 10px 20px;
    background: rgb(51, 50, 53);
    color: rgb(248, 244, 244);
    border: none;
    border-radius: 7px;
    margin: 10px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(255,255,255,.9);
    cursor: pointer;
}
.btn:hover{
    background: rgb(84, 94, 117);
    transition:.2s;
}
.info{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    
}
span{
    color: aqua;
    font-size: 25px;
    text-align: center;
   
  
}