body{
    margin: 0;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

span{
    background: url("heart.png");
    width: 100%; 
    height: 100%;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50px, -50px);
    animation: animate 7s linear;
}

@keyframes animate {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(920deg);
    }
}